@font-face {
    font-family: 'disket_monoregular';
    src: url('fonts/Disket-Mono-Regular.ttf') format('truetype'),
         url('fonts/Disket-Mono-Regular.otf') format('otf'),
         url('fonts/disket-mono-regular-webfont.woff2') format('woff2'),
         url('fonts/disket-mono-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'disket_monoregular';
    /* font-family: 'Kanit', sans-serif; */
    /* font-family: 'Kode Mono', monospace; */
    /* font-family: 'Chakra Petch', sans-serif; */
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
    background-image: url('img/Background.jpg');
}

hr {
    width: 100%;
    border: 3px solid #ffffff;
}

iframe {
    width: 95%;
    height: 400px;
    margin: 16px 16px 0px 16px;
    
    border-radius: 10px;
    border-width: 0;
    background-color: rgb(0, 0, 0);
    background-size: cover;
}

header {
    display: block;
    position: sticky;
    z-index: 5;
    top: 0;
}

.header {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    background-color: white;

    font-size: 120%;

    padding: 1% 0;
}

.header_Left {
    grid-column: 1;
    text-align: center;

    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: row;
    justify-content: left;

    margin-left: 10%;
}

#header_Name {
    font-size: 150%;
    font-weight: bold;
}

.header_Center {
    grid-column: 2;
    text-align: center;
    padding: 1%;
}
  
.header_Right {
    grid-column: 3;
    text-align: center;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    position: relative;

    margin-right: 5%;
}

.button_header {
    font-size: 100%;
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;

    padding: 8px 16px;

    transition: transform 0.1s ease-in-out;
}

.button_header:hover {
    transform: translateY(-1px);
    font-weight: bold;
    border-radius: 6px;
}

/* Profile */

fieldset {
    display: block;
    margin: 3% 3% 3% 3%;
    padding: 3% 3% 3% 3%;
    
    border-radius: 10px;
    border: 5px dashed rgb(255, 255, 255);
    backdrop-filter: blur(6px);

    text-align: center;
    font-size: 100%;

    color: white;

    transition: transform 0.4s ease-in-out;
}

#legend_left {
    font-size: 200%;
    font-weight: bold;
    text-align: left;
    padding: 7px 3% 7px 3%;

}

#legend_center {
    font-size: 200%;    
    font-weight: bold;
    text-align: center;
    padding: 0% 3% 0% 3%;
    
}

#legend_right {
    font-size: 200%;
    font-weight: bold;
    text-align: right;
    padding: 7px 3% 7px 3%;
    
}

.About_Me {
    display: grid;
    grid-template-columns: 45% 55%;

    font-size: 120%;
}

.About_Me_Left {
    grid-column: 1;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
    
}

.About_Me_Right {
    padding: 200px 100px 100px 100px;
    grid-column: 2;
    text-align: left;

    line-height: 2;
}

#img_Profile_pic {
    width: 100%;
    border-radius: 26px;
    border: 10px solid rgb(255, 255, 255);
}

#div_Skill {
    display: flex;
    padding: 32px;
    align-self: center;
    align-items: flex-start;
    justify-content: center;
    justify-content: space-around;
    background: hsla(0, 0%, 100%, 0.1);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border-radius: 20px;
    /* border: 2px solid hsla(0, 0%, 100%, 0.1); */
}

.img_Skill {
    width: 5%;
    min-width: 80px;
    margin: 5px;
    border-radius: 12px;
}

#div_Hobbies {
    font-size: 120%;

    display: grid;
    grid-template-columns: 25% 25% 25% 25%;

    line-height: 1.5;
}

/* Project html */

.img_port {
    width: 90%;
    margin-top: 16px;
    border-radius: 10px;
}

.Tab {
    margin: 3% 3% 3% 3%;
    overflow: hidden;
    /* border: 1px solid #ccc; */
    background-color: transparent;
}

.Tab button {
    font-size: 200%;
    font-weight: normal;
    color: rgb(255, 255, 255);
    background-color: transparent;
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);

    border-left: 5px dashed rgb(255, 255, 255);

    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    
    transition: 0.2s;
}

.Tab button.active {
    font-weight: bold;
    color: rgb(0, 0, 0);
    background-color: white;
    box-shadow: rgb(255, 255, 255);

    border-top-left-radius: 16px;
    border-bottom-right-radius: 16px;
    /* border-bottom-left-radius: 10px; */

}

.tabcontent {
    display: none;
}

#legend_Model {
    font-size: 200%;
    font-weight: bold;
    text-align: left;
    padding: 7px 3% 7px 3%;
    
}

#legend_Anim {
    font-size: 200%;
    font-weight: bold;
    text-align: left;
    padding: 7px 3% 7px 3%;
    
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-gap: 16px;
}

.mini-container {
    display: grid;
    grid-template-columns: repeat(27, 1fr);
    grid-gap: 16px;
    
}

.center {
    text-align: center;
}

.box {
    margin: auto;
    background: rgb(255, 255, 255);
    box-shadow: 0 8px 32px 0 rgb(59, 59, 59);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border-radius: 20px;
    border: 2px solid rgb(0, 0, 0);
    margin-top: 24px;
    height: auto;
}

.fullcon1 {
    grid-column: 1 / span 20;
    width: 100%;
    height: auto;
    /* width: auto; */
    background-color: rgba(0, 0, 0, 0.5);
    
}

.fullmn {
    grid-column: 2 / span 25;
    width: 100%;
    height: auto;
    border-radius: 20px;
    
}

.expand {
    height: 500px;
}

.mn1 {
    grid-column: 2 / span 12;
    width: 100%;
    height: auto;
    border-radius: 20px;
    /* border: 2px solid rgb(0, 0, 0);
    background-color: rgb(0, 0, 0); */
    
}

.mn2 {
    grid-column: 15 / span 12;
    width: 100%;
    height: auto;
    border-radius: 20px;
    /* border: 2px solid rgb(0, 0, 0);
    background-color: rgb(0, 0, 0); */
}

.mn3 {
    grid-column: 3 / span 5;
    width: 100%;
    height: auto;
    border-radius: 20px;

}

.mn4 {
    grid-column: 10 / span 15;
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.as1 {
    grid-column: 2 / span 6;
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.5);
    
}

.as2 {
    grid-column: 9 / span 6;
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.5);

}

.TextInfo {
    font-size: 150%;
    font-weight: normal;
    text-align: center;
    padding: 16px;

}

.TextInfo2 {
    font-size: 120%;
    font-weight: normal;
    text-align: left;
    padding: 24px;

    display: grid;
    align-items: center;

}

.TextInfo3 {
    font-size: 120%;
    font-weight: normal;
    text-align: center;
    padding: 24px;

}

.footer {
    display: grid;
    /* grid-template-columns: 70% auto; */
    background-color: white;

    font-size: 100%;

    padding: 1% 0;
    
}

.footer_Left {
    text-align: left;
    margin-left: 5%;
}

#footer_Name {
    font-size: 120%;
    font-weight: bold; 
}

/* Reference setting */
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

a:hover{
    text-decoration: underline;
    /* color: rgb(255, 255, 255); */
}

/* Responsive */

@media only screen and (max-width: 1350px){
    .header {
        font-size: 100%;
    }

    .header_Right {
        font-size: 95%;
        margin-right: 10%;
    }

    .button_header {
        font-size: 95%;
        padding: 8px 16px;
    }

    .About_Me {
        grid-template-columns: 50% 50%;
        font-size: 100%;
    }

    #img_Profile_pic {
        width: 90%;
    }

    .About_Me_Right {
        padding: 25px 25px 25px 25px;
        font-size: 90%;
    }

    #div_Skill {
        padding: 16px;
        border-radius: 20px;
    }
    
    .img_Skill {
        width: 5%;
        min-width: 70px;
        margin: 5px;
        border-radius: 12px;
    }

    #div_Hobbies {
        font-size: 90%;
        grid-template-columns: 25% 25% 25% 25%;
    }

    #footer_Name {
        font-size: 100%;
        font-weight: bold; 
    }
    
}

@media only screen and (max-width: 1200px){
    .header {
        font-size: 90%;
    }

    .header_Right {
        font-size: 85%;
        margin-right: 10%;
    }

    .button_header {
        font-size: 90%;
        padding: 8px 8px;
    }


    .About_Me {
        grid-template-columns: 50% 50%;
        font-size: 100%;
    }

    #img_Profile_pic {
        width: 90%;
        border-radius: 26px;
        border: 7px solid rgb(255, 255, 255);
    }

    .About_Me_Right {
        padding: 25px 25px 25px 25px;
        font-size: 85%;
    }

    .button_header {
        padding: 8px 8px;
    }

    fieldset {
        border-radius: 10px;
        border: 4px dashed rgb(255, 255, 255);
        font-size: 100%;
    }
    
    #legend_left {
        font-size: 150%;
        font-weight: bold;
        padding: 5px 3% 5px 3%;
    
    }
    
    #legend_center {
        font-size: 150%;    
        font-weight: bold;
        padding: 5px 3% 5px 3%;
        
    }
    
    #legend_right {
        font-size: 150%;
        font-weight: bold;
        padding: 5px 3% 5px 3%;
        
    }

    #div_Skill {
        padding: 16px;
        border-radius: 20px;
        display: block;
        unicode-bidi: isolate;
    }
    
    .img_Skill {
        width: 5%;
        min-width: 70px;
        margin: 5px;
        border-radius: 12px;
    }

    #div_Hobbies {
        font-size: 80%;
        grid-template-columns: 25% 25% 25% 25%;
    }

    #footer_Name {
        font-size: 90%;
        font-weight: bold; 
    }
    
}

@media only screen and (max-width: 1050px){
    #div_Skill {
        padding: 14px;
        border-radius: 14px;
        display: block;
        unicode-bidi: isolate;
    }

    .img_Skill {
        width: 5%;
        min-width: 60px;
        margin: 5px;
        border-radius: 12px;
    }
    
}

@media only screen and (max-width: 850px){
    .header {
        font-size: 80%;
    }

    .header_Right {
        font-size: 75%;
        margin-right: 10%;
    }

    .button_header {
        font-size: 90%;
        padding: 4px 4px;
    }


    .About_Me {
        grid-template-columns: 50% 50%;
        font-size: 100%;
    }

    #img_Profile_pic {
        width: 90%;
        border-radius: 26px;
        border: 7px solid rgb(255, 255, 255);
    }

    .About_Me_Right {
        padding: 25px 25px 25px 25px;
        font-size: 75%;
    }

    .button_header {
        padding: 4px 4px;
    }

    fieldset {
        border-radius: 10px;
        border: 3px dashed rgb(255, 255, 255);
        font-size: 100%;
    }
    
    #legend_left {
        font-size: 120%;
        font-weight: bold;
        padding: 5px 3% 5px 3%;
    
    }
    
    #legend_center {
        font-size: 120%;    
        font-weight: bold;
        padding: 5px 3% 5px 3%;
        
    }
    
    #legend_right {
        font-size: 120%;
        font-weight: bold;
        padding: 5px 3% 5px 3%;
        
    }

    #div_Hobbies {
        font-size: 75%;
        grid-template-columns: 25% 25% 25% 25%;
    }

    #footer_Name {
        font-size: 80%;
        font-weight: bold; 
    }
    
}

@media only screen and (max-width: 800px){
    #div_Skill {
        padding: 10px;
        border-radius: 10px;
        display: block;
        unicode-bidi: isolate;
    }

    .img_Skill {
        width: 5%;
        min-width: 45px;
        margin: 5px;
        border-radius: 12px;
    }
    
}

@media only screen and (max-width: 750px){
    .header {
        font-size: 65%;
    }

    .header_Right {
        font-size: 70%;
        margin-right: 10%;
    }

    .button_header {
        font-size: 90%;
    }


    .About_Me {
        display: flex;
        flex-direction: column;
        font-size: 100%;
    }

    #img_Profile_pic {
        width: 80%;
        border-radius: 26px;
        border: 5px solid rgb(255, 255, 255);
    }

    .About_Me_Right {
        padding: 25px 25px 25px 25px;
        font-size: 70%;
    }

    fieldset {
        border-radius: 10px;
        border: 2px dashed rgb(255, 255, 255);
        font-size: 100%;
    }
    
    #legend_left {
        font-size: 100%;
        font-weight: bold;
        padding: 3px 3% 3px 3%;
    
    }
    
    #legend_center {
        font-size: 100%;
        font-weight: bold;
        padding: 3px 3% 3px 3%;
        
    }
    
    #legend_right {
        font-size: 100%;
        font-weight: bold;
        padding: 3px 3% 3px 3%;
        
    }

    #div_Hobbies {
        /* display: grid; */
        margin-left: 15px;
        display: flex;
        flex-direction: column;
        align-content: space-around;
        text-align: left;
        font-size: 70%;

    }

    #footer_Name {
        font-size: 65%;
        font-weight: bold; 
    }
}