@font-face {
    font-family: 'disket_monoregular';
    src: url('fonts/Disket-Mono-Regular.ttf') format('truetype'),
         url('fonts/Disket-Mono-Regular.otf') format('otf'),
         url('fonts/disket-mono-regular-webfont.woff2') format('woff2'),
         url('fonts/disket-mono-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@import "tailwindcss";

@layer components {
    .ABCD {
        @apply text-cyan-500 bg-orange-500;
    }
}

* {
    font-family: 'disket_monoregular';
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
    background-image: url('img/Background.jpg');
    
}

hr {
    width: 100%;
    border: 3px solid #ffffff;
}

iframe {
    width: 95%;
    height: 500px;
    margin: 16px 16px 0px 16px;
    
    border-radius: 10px;
    border-width: 0;
    background-color: rgb(0, 0, 0);
    background-size: cover;
}

/* header {
    display: block;
    position: sticky;
    z-index: 5;
    top: 0;
} */

.header {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    background-color: white;

    font-size: 120%;

    padding: 1% 0;
}

.header_Left {
    grid-column: 1;
    text-align: center;

    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: row;
    justify-content: left;

    margin-left: 10%;
}

#header_Name {
    font-size: 150%;
    font-weight: bold;
}

.header_Center {
    grid-column: 2;
    text-align: center;
    padding: 1%;
}
  
.header_Right {
    grid-column: 3;
    text-align: center;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    position: relative;

    margin-right: 5%;
}

.button_header {
    font-size: 100%;
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;

    padding: 8px 16px;

    transition: transform 0.1s ease-in-out;
}

.button_header:hover {
    transform: translateY(-1px);
    font-weight: bold;
    border-radius: 6px;
}

/* Profile */



/* Project html */

.Tab {
    margin: 3% 3% 3% 3%;
    overflow: hidden;
    background-color: transparent;
}

.Tab button {
    font-size: 200%;
    font-weight: normal;
    color: rgb(255, 255, 255);
    background-color: transparent;
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);

    border-left: 5px dashed rgb(255, 255, 255);

    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    
    transition: 0.2s;
}

.Tab button.active {
    font-weight: bold;
    color: rgb(0, 0, 0);
    background-color: white;
    box-shadow: rgb(255, 255, 255);

    border-top-left-radius: 16px;
    border-bottom-right-radius: 16px;
    /* border-bottom-left-radius: 10px; */

}

.tabcontent {
    display: none;
}

/* Reference setting */

/* a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

a:hover{
    text-decoration: underline;
    color: rgb(255, 255, 255);
} */

/* Responsive */

